  ## Proxy Rules
  ProxyRequests Off

{% if item['proxy_preserve_host'] is defined and item['proxy_preserve_host'] == 'On' -%}
  ProxyPreserveHost On
{%- else %}
  ProxyPreserveHost Off
{%- endif %}

{% if item['proxy_add_headers'] is defined and item['proxy_add_headers'] == 'On' -%}
  ProxyAddHeaders On
{%- else %}
  ProxyAddHeaders Off
{%- endif %}

{% if item['proxy_error_override'] is defined -%}
  ProxyErrorOverride On
{%- endif %}

{% if item['proxy_dest'] is defined -%}
{%- for uri in item['no_proxy_uris'] -%}
  ProxyPass         {{ uri }} !
{% end -%}
  ProxyPass         / {{ item['proxy_dest'] }}/
  ProxyPassReverse  / {{ item['proxy_dest'] }}/
{% endif -%}
{% if item['proxy_dest_match'] is defined -%}
{%- for uri in item['no_proxy_uris_match'] -%}
  ProxyPassMatch    {{ uri }} !
{% end -%}
  ProxyPassMatch    / {{ item['proxy_dest_match'] }}/
  ProxyPassReverse  / {{ item['proxy_dest_reverse_match'] }}/
{% endif -%}
